<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="ObjectRepositoryContract.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ObjectRepositoryImpl.Properties.Settings.ObjectRepositoryConnectionString"
            connectionString="Data Source=TANGRAM;Initial Catalog=ObjectRepository;Persist Security Info=True;User ID=sa;Password=James1855"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <ObjectRepositoryContract.Properties.Settings>
            <setting name="ModuleList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ObjectRepositoryImpl</string>
                        <string>Test</string>
                        <string>TestExtension</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ObjectRepositoryContract.Properties.Settings>
    </applicationSettings>
</configuration>
