<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ObjectRepositoryImpl.Properties.Settings.ObjectRepositoryConnectionString"
            connectionString="Data Source=JAMESPC;Initial Catalog=ObjectRepository;Persist Security Info=True;User ID=sa;Password=James1855"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>