<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchoolModels.Properties.Settings.EntityRepositoryConnectionString"
            connectionString="Data Source=JAMESPC;Initial Catalog=EntityRepository;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>